@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Supermercado</h1>
    <table class="egt">
        <tr>
            <td>Realizar venta</td>
           
            <td>Crear prodúcto</td>
         </tr>
    </table>
</div>
