@model Supermercado5719_Biblioteca.AgregarArticulo;
@{
    ViewData["Title"] = "Articulo nuevo";
}
<h1 class="display-4 mt-5">Agregar Articulo A Venta</h1>
<form asp-controller="Venta" asp-action="AgregarArticulo" method="post">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="numVenta">codigo de barra: </label>
            <input asp-for="codigoBarra" type="text" placeholder="codigoBarra" class="form-control " min="1" max="5" />
        </div>
        <div class="form-group col-6">
            <label for="numCaja">cant. de unidades: </label>
            <input asp-for="unidades" type="text" placeholder="unidades" class="form-control" min="1" max="5" />
        </div>
        <div class="form-group col-6">
            <label for="numTicket">Numero de Ticket: </label>
            <input asp-for="numTicket" type="text" placeholder="numTicket" class="form-control" value="@ViewBag.venta.numTicket" />
        </div>
        <div class="form-group col-6">
            <label for="numCaja">Numero de Caja: </label>
            <input asp-for="numCaja" type="text" placeholder="numCaja" class="form-control" value="@ViewBag.venta.numCaja" />
        </div>
    </div>
    <div class="form-group col-6">
        <input type="submit" class="btn btn-outline-primary" value="Guardar" />
        <a asp-controller="Venta" asp-action="RealizarVenta" role="button" class="btn btn-outline-secondary">Cancelar</a>
    </div>
</form>