@model Supermercado5719_Biblioteca.Ticket;

<h1 class="display-4 mt-5">Realizar venta</h1>
<form asp-controller="Venta" asp-action="RealizarVenta" method="post">
    <div class="form-row">
        @*<div class="form-group col-6">
            <label for="numTicket">Numero de venta</label>
            <input asp-for="numTicket" type="number" placeholder="numTicket" class="form-control" min="1" required />
        </div>*@
        <div class="form-group col-6">
            <label for="numCaja">Numero de caja</label>
            <input asp-for="numCaja" type="number" placeholder="numCaja" class="form-control" min="1" max="5" required />
        </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Agregar articulo" />
    <a asp-controller="Venta" asp-action="Index" role="button" class="btn btn-outline-secondary">Carcelar</a>
</form>