@model IEnumerable<Supermercado5719_Biblioteca.Caja>
<div class="row">
    <div class="col-10">
        <h1 class="text-monospace">Cajas</h1>
    </div>
</div>
<br />
<table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Numero de caja</th>
                <th>Total vendido $</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var caja in Model)
            {
            <tr>
                <td>@caja.numCaja</td>
                <td>@caja.tickets.Sum(x => x.precioTotal)</td>
            </tr>
            }
        </tbody>
</table>

