
@{
    ViewData["Title"] = "Articulo nuevo";
}

<h1>View</h1>
<form asp-controller="Articulo" asp-action="Agregar" method="post">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="descripción">Descripción</label>
            <input asp-for="descripción" type="text" placeholder="Descripción" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label for="descripción abreviada">Descripción abreviada</label>
            <input asp-for="descripción abreviada" type="text" placeholder="DNI" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="nombre">Nombre</label>
            <input asp-for="nombre" type="text" placeholder="Nombre" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label for="CUIL">CUIL</label>
            <input asp-for="CUIL" type="text" placeholder="CUIL" class="form-control" />
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-outline-primary" value="Guardar" />
    <a asp-controller="Empleado" asp-action="Index" role="button" class="btn btn-outline-secondary">Volver</a>
</form>